appdirs==1.4.2
click==6.7
Flask==0.12
httplib2==0.10.3
itsdangerous==0.24
Jinja2==2.9.5
MarkupSafe==0.23
packaging==16.8
passlib==1.7.1
pyparsing==2.1.10
pytz==2016.10
requests==2.13.0
simplejson==3.10.0
six==1.10.0
twilio==5.7.0
Werkzeug==0.11.15
wit==4.2.0
